<!-- css start -->

<!-- css end -->

<div class="site-wrap">
    <div class="site-navbar mt-4">
      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-8 col-md-8 col-lg-4">
            <h1><a href='/'><strong>
                  <img src="images/Logos/logo.png" alt="Logo" class="img-fluid" width="250" lang="250">
                  <span class="text-primary"></span></strong></a></h1>
          </div>
          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-right text-md-right" role="navigation">

              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                  class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
              </div>
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <a id="contact" href='/contact'>צור קשר</a>
                <li id="orders"></li>
                <li id="apartments"></li>
                <li id="login"><a href="/login">התחברות/הרשמה</a></li>


                <!--Check if the user is landlord-->
                <script>
                  // Take data from database
                  var a = 1;
                  if (a == 1) {
                    document.getElementById("login").innerHTML = "<a href='/login'>התחברות/הרשמה</a>";
                    document.getElementById("orders").innerHTML = "<a href='/myOrders'>ההזמנות שלי</a>";
                    document.getElementById("apartments").innerHTML = "<a href='/myApartments'>הדירות שלי</a>";
                  }
                </script>
                <!--End-->

                <!--Check if the user is student-->
                <script>
                  // Take data from database
                  var a = 1;
                  if (a == 2) {
                    document.getElementById("login").innerHTML = "<a href='#'>היי, שם של סטודנט</a>";
                  }
                </script>
                <!--End-->
                <li id="home"><a href="/">ראשי</a></li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  