html>

    <!------------------------------------------------ Head start ---------------------------------------------------------------------->
    <head>
          <!-- css -->
            <title>SamiRoom | הוסף אטרקציה</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
            <link rel="stylesheet" href="fonts/icomoon/style.css">
            <link rel="stylesheet" href="css/jquery-ui.css">
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">
            <link rel="stylesheet" href="css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="css/mediaelementplayer.css">
            <link rel="stylesheet" href="css/animate.css">
            <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
            <link rel="stylesheet" href="css/fl-bigmug-line.css">
            <link rel="stylesheet" href="css/aos.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/mainImageHover.css">

            <!-- The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>

            <!--------------------------------- Icon -------------------------------------------------->
            <link rel="icon" href="images/Logos/house.png" type="image/icon type">

    </head>

    <!--------------------------------------------- Head end ---------------------------------------------------------------------->


    <!--------------------------------------------- Body start------------------------------------------------------------------------>
    
    <!-- get number from previous page - apartments -->
    <body>            

      <!------------------------  site nevigations   ------------------------->

      <%- include('views/navPanel'); %>

      <!------------------------  site nevigations end ------------------------->

      <!-- Picture & title of the page -->
        
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('images/Titles/students_apart1.jpg');"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="text-white">הוספת אטרקציה</h1>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------------ Code -------------------------------------------------->

 <div class="site-section">
     <div clas="container">
        <form style="text-align:right;" action="/addAttraction" method="POST">
            <ul id='attr01'>
                <label for='exampleFormControlInput1'>:מספר זיהוי אטרקציה</label>
                <input type='text' style='text-align:right;' name = 'attr[ID]' class='form-control' id='attrID1' required>
                
                <label for='exampleFormControlInput1'>:שם אטרקציה</label>
                <input type='text' style='text-align:right;' name = 'attr[name]' class='form-control' id='attrName1' required>
                
                <label for='exampleFormControlInput1'>:תיאור האטרקציה</label>
                <input type='text' style='text-align:right;'' name='attr[desc]' class='form-control' id='desc1' required>

                <label for='exampleFormControlInput1'>:מחיר לפני השכרה</label>
                <div dir = 'rtl'><textarea class='form-control' id='before1' rows='1' style='width: 100px;' \
                name='attr[before]'' required></textarea></div> 
            
                <label for='exampleFormControlInput1'>:מחיר אחרי השכרה</label>
                <div dir = 'rtl'><textarea class='form-control' id='after1' rows='1' style='width: 100px;' \
                name='attr[after]'' required></textarea></div>
                
                <label for='exampleFormControlInput1'>העלאת תמונת אטרקציה</label>
                <br><input dir = 'rtl' type='file' id='img1' name='attr[img]' accept='image/*'>

                <ul class="form-group">
                    <input type="submit" class="btn btn-primary px-5 py-3" value="העלאה">
                </ul>
            </form>
     </div>

 </div>
  <footer class="site-footer">         
            <div class="row pt-5 mt-5 text-center">
              <div class="col-md-12">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script data-cfasync="false"></script>
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" 
                  aria-hidden="true"></i> by webTeam1</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </footer>
      
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/db-func.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/mediaelement-and-player.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/circleaudioplayer.js"></script>
        <script src="js/main.js"></script>
    
  </body>
</html>