<html>

    <!------------------------------------------------ Head start ---------------------------------------------------------------------->
    <head>
            <title>SamiRoom | ההזמנות שלי</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
            <link rel="stylesheet" href="fonts/icomoon/style.css">
            <link rel="stylesheet" href="css/jquery-ui.css">
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">
            <link rel="stylesheet" href="css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="css/mediaelementplayer.css">
            <link rel="stylesheet" href="css/animate.css">
            <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
            <link rel="stylesheet" href="css/fl-bigmug-line.css">
            <link rel="stylesheet" href="css/aos.css">
            <link rel="stylesheet" href="css/style.css">

            <!-- The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>

            <!--------------------------------- Icon -------------------------------------------------->
            <link rel="icon" href="images/Logos/house.png" type="image/icon type">
            
    </head>

    <!--------------------------------------------- Head end ---------------------------------------------------------------------->


    <!--------------------------------------------- Body start------------------------------------------------------------------------>
    <body>            


   <!------------------------  site nevigations   ------------------------->

   <%- include('views/navPanel'); %>

   <!------------------------  site nevigations end  ------------------------->
         

<!------------------------ Search bar ------------------------------------->
   <div class="site-mobile-menu">
     <div class="site-mobile-menu-header">
       <div class="site-mobile-menu-close mt-3">
         <span class="icon-close2 js-menu-toggle"></span>
       </div>
     </div>
     <div class="site-mobile-menu-body"></div>
   </div> 
   
   <div class="site-blocks-cover overlay" style="background-image: url('/images/Main/apartmentMainjpg.jpg');" 
   data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
       <div class="row align-items-center justify-content-center">
         <div class="col-md-8 text-center" data-aos="fade-up" data-aos-delay="400">
           <h1 class="mb-4">הרשמה</h1>
         </div>
       </div>
     </div>
   </div>

      <!-------------------------------- Your code ---------------------------------------------->


      




      <!-------------------------------- Your code ------------------------------------------>



  <!-------------------------------------- Buttom of the page --------------------------------------->
  </div>

    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>

          </div>
         

          </div>
          
        </div>

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <p>
                 
                 Copyright &copy;<script data-cfasync="false" 
                 src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                 <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" 
                 aria-hidden="true"></i> by webTeam1</a>
              </p>
            </div>
        </div>
    </footer>

  </div>

    <!-- Scripts -->

      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/mediaelement-and-player.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/jquery.countdown.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/circleaudioplayer.js"></script>
      <script src="js/main.js"></script>

    <!-- Scripts end -->

  <!-------------------------------------- Buttom of the page --------------------------------------->

  </body>
</html>